<!-- panel.component.html -->

<div class="row pt-4 pb-5">

  <div class="input-group justify-content-end align-items-center">
    <button class="btn rounded-circle me-3 custom-button" type="button" (click)="openPagesModal()">
      <span class="material-symbols-outlined pulse">info</span>
    </button>
    <label for="numPages" class="numPagesCss me-3 d-flex">Número de pàgines </label>
    <button class="btn btn-outline-secondary rounded-circle custom-button" type="button" (click)="decrementPages()">-</button>
    <input type="text" id="numPages" class="rounded mx-2 text-center" style="width: 30px;" [(ngModel)]="pagesNumber" (change)="calculateTotalBudget()">
    <button class="btn btn-outline-secondary rounded-circle custom-button" type="button" (click)="incrementPages()">+</button>
  </div>

  <div class="input-group justify-content-end align-items-center mt-3">
    <button class="btn rounded-circle me-3 custom-button" type="button" (click)="openLanguagesModal()">
      <span class="material-symbols-outlined pulse">info</span>
    </button>
    <label for="numIdiomas" class="numLanguagesCss me-3 d-flex text-wrap ">Número de llenguatges </label>
    <button class="btn btn-outline-secondary rounded-circle custom-button" type="button" (click)="decrementLanguages()">-</button>
    <input type="text" id="numIdiomas" class="rounded mx-2 text-center" style="width: 30px;" [(ngModel)]="languagesNumber" (change)="calculateTotalBudget()">
    <button class="btn btn-outline-secondary rounded-circle custom-button" type="button" (click)="incrementLanguages()">+</button>
  </div>

</div>

